/* By insomnyawolf 2016 */

/* ICON */
img {
    counter-reset:  ;ntent: icon;
    icon: url(favicon.ico);
}


/* BODY */

body    {   
            background-color: #000000;
            position: relative;
            background-image: url("bg.jpg"); 
    		background-repeat: no-repeat;
     		background-position: center center; 
    		background-attachment: fixed; 
            background-size: 100% 100vh;
        } 

html    { 
        height: 100%; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
		}
@font-face {
    font-family: 'space_age';
    src: url('fonts/space_age.ttf');
    font-weight: 600;
    font-style: normal;
}
/* TEXT */

h1 {
    color: purple;
}

h2 {
    color: #c0c0c0;
}

h3 {
    color: #c0c0c0;
}

h4 {
    color: #c0c0c0;
}

h5 {
    color: #c0c0c0;
}

h6 {
    color: #c0c0c0;
}
p {
    color: #c0c0c0;
	margin-left: 12%;
	margin-right: 12%;
}






/* LINKS */
a:link, a:visited {
    display: inline-block;
    background-color: #003f80;
    color: #c0c0c0;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

a:hover, a:active {
	background-color: green;
}

/* By insomnyawolf 2016 */